<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../static/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
<div class="wrapper">
    <div class="text-center">
        <h1>Авторизация прошла успешно</h1>
        <h1>Сгенерированный токен:</h1>
        <h1 th:text="${token}" />
    </div>
</div>
</body>
</html>