<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../static/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>
<div class="wrapper">
    <form class="form-horizontal auth-data"
          th:action="@{/register}" th:object="${user}" method="post">
        <h2 class="text-center" th:text="#{register.title}"></h2>

        <div class="form-group">
            <label for="username" class="hidden"></label>
            <input id="username" type="text" class="form-control" th:placeholder="#{auth.username}"
                   th:field="*{username}" required="true"/>
            <label for="username" class="alert-danger" th:text="${usernameError}"></label>
        </div>
        <div class="form-group">
            <label for="password" class="hidden"></label>
            <input id="password" type="password" class="form-control" th:placeholder="#{auth.password}"
                   th:field="*{password}" required="true"/>
        </div>

        <div class="form-group">
            <label for="firstName" class="hidden"></label>
            <input id="firstName" type="text" class="form-control" th:placeholder="#{register.firstName}"
                   th:field="*{firstName}" required="true"/>
        </div>

        <div class="form-group">
            <label for="lastName" class="hidden"></label>
            <input id="lastName" type="text" class="form-control" th:placeholder="#{register.lastName}"
                   th:field="*{lastName}" required="true"/>
        </div>

        <div class="form-group">
            <label for="email" class="hidden"></label>
            <input id="email" type="email" class="form-control" th:placeholder="#{register.email}"
                   th:field="*{email}" required="true"/>
        </div>

        <div class="text-center">
            <input class="btn btn-primary" type="submit" th:value="#{register.submit}"/>
        </div>
    </form>
</div>
</body>
</html>